<br>
<h3>To do List App</h3>
<!-- <%= link_to 'acagaar', posts_path   %> -->

<br>
<div class="row">

<% @posts.each do |post| %>
    <div class="col-sm-4">
      <div class="card" style="width: 18rem; margin: 10px;">
        <img class="card-img-top" src="http://lorempixel.com/286/180/" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title"><%= post.title %></h5>
          <p class="card-text"><%= post.content %></p>
          <% if post.checked? %>
            <a href="<%= pages_checker_path %>" class="btn btn-primary">check</a>
          <% else %>
            <a href="<%= pages_checker_path %>" class="btn btn-primary">checked</a>
          <% end %>

        <%= link_to 'Show', post %>

        </div>
    </div>
</div>

<% end %>

</div>

<br>
